@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
    margin: 0;
    background: url(back.svg);
    font-family: 'Nunito', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #235787;
    margin-bottom: 100px;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    margin-top:auto;
    margin-bottom:auto;
    width:40%;
}
.img-fluid{
    width:50%;
    height:50%;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;

    position: relative;
}

nav a {
    color: white;;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover {
    color: #000;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color:white;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

th {
    height: 70px;
    font-size: 20px;
    background: #478ad0;
}
table, th, td {
    border: 1px solid black;

}
table {
    width: 90%;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
}

table{
    margin-top: 30px;
}
input{
    margin-left: 5%;
    margin-right: auto;
    height: 40px;
}
input[type=text]:focus {
    border: 3px solid #555;

}

.centered { text-align: center; }

div#fine-uploader {
    width: 50%;
    margin: 0 auto;
}

.qq-upload-button-selector.qq-upload-button {
    margin: 0 auto;
    background: #235787;
}